<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>List Seansów</title>
</head>

<body>
<div class="container-fluid">
    <div class="container bg-light" id="middle-container">
        <div class="d-flex justify-content-center pt-5 pb-5">
            <div class="col-4 img ">
                <h1><img src="/logo.png" alt="Logo Helix" width="55%"></h1>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-3 pb-3 bg-dark">
            <h1 class="display-5 text-white"> Aktualne seanse </h1>
        </div>
        <div class="row g-1 mt-1 pb-5 justify-content-center" id="container">
            <div class="col-8">
                <ul>
                    <li id="li-header">
                        <label class="li-header1">Data i godzina</label>
                        <label class="li-header1">Tytuł</label>
                        <label class="li-header1">Czas trwania</label>
                    </li>
                    <li id="li-data" th:each="screening : ${screeningList}">
                        <a th:href="${'/buy_ticket/' + screening.id}">
                            <label class="li-data1" th:utext="${screening.date}"></label>
                            <label class="li-data1" th:utext="${screening.movie.title}"></label>
                            <label class="li-data1" th:utext="${screening.movie.runtime}"></label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>







